body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
	padding: 0;
	margin-bottom: 0;
}

.main-container {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 3.8% 1fr;
	grid-template-areas: "nav-bar nav-bar" "side-bar gray-area";
}

.nav-bar {
	grid-area: nav-bar;
	width: 100%;
	height: 6vh;
	background-color: white;
	box-shadow: -.8rem .01rem .5rem 0;
	border-bottom: 1.5px solid gray;
}

.side-bar {
	grid-area: side-bar;
	width: 100%;
	height: 94vh;
	background-color: white;
}

.container {
	grid-area: container;
	width: 100%;
	height: 94vh;
	display: grid;
	grid-template-columns: repeat(3, 33.3%);
}

.gray-area {
	grid-area: gray-area;
	background: #e4e4e4;
	display: grid;
	grid-template-columns: 1fr 3.8%;
	grid-template-areas: "container fab";
}

::-webkit-scrollbar {
	display: none;
}
