.card {
	width: 90%;
	height: 10rem;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin-bottom: 0;
	transition: 0.3s;
	margin-bottom: 2rem;
	padding: 10px;
	display: grid;
	grid-template-areas: "task-title task-title task-title" "task-description task-description task-description"
		"task-description task-description task-description" "avatar . actions-area";
}

.card:hover {
	cursor: pointer;
	width: 95%;
	height: 12rem;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cards-list {
	overflow-y: scroll;
}

.status-column {
	margin-left: 3rem;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 20px;
	overflow-y: scroll;
	margin-bottom: 15px;
}

/* here would be the interar style of the card */

.task-title {
	grid-area: task-title;
	margin: auto;
}

.avatar {
	grid-area: avatar;
}

.task-description {
	grid-area: task-description;
}

.actions-area {
	grid-area: actions-area;
}

.edit-button,
.delete-button {
	width: 5rem;
	height: 2rem;
	background: blue;
	grid-area: edit-button;
	margin: 5px;
	display: inline-block;
	position: relative;
}

.delete-button {
	background: red;
	grid-area: delete-button;
}
